{% extends 'base.html' %}

{% block title %}Manage Media - Drag Queens Atlanta{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="set_as_profile" id="set_as_profile">
        <label class="form-check-label" for="set_as_profile">
            Set as my profile picture
        </label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Upload</button>
</form>

{% endblock %}